@import "~antd/dist/antd.css";
::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}
* {
  color: aliceblue !important;
}

.App {
  /* position: absolute;
  top: 0; */

  background: url("./assets/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* left: 0; */
  color: aliceblue;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.selector {
  height: 35px;
  width: 175px;

  background-color: transparent;
  font-weight: 600;
  border-color: grey;
  margin: 2px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.selector:hover,
.selector:focus {
  background-color:  rgba(5, 5, 5, 0.822);
  border-color: rgb(104, 102, 102);
}

.form-start {
  height: 400px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
  border-radius: 17.5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid rgb(187, 187, 187);
}

.tranparent {
  background-color: transparent !important;
  width: 300px;
}

.ant-select-selector {
  background-color: transparent !important;
  width: 300px !important;
}
.text-center {
  /* text-align: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  align-content: center;
}
.color-light {
  color: white;
}
.center {
  text-align: left;
  color: white;
}
.formbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
}
.questionBox {

  background-color: rgba(5, 5, 5, 0.664);
  border-top-left-radius: 13px;

  border-bottom-right-radius: 13px;
  padding:42px 16px;
  margin: 3px 14px;
}
.questionBox1 {
  margin: auto 8px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255) !important;
  /* text-shadow: 0 0 5px rgb(250, 250, 250); */
}



.ant-radio-checked .ant-radio-inner{
  border-color: black !important ;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: black;
}

.ant-radio:hover .ant-radio-inner {
  border-color: black ;
}


.loaderClass{
 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
}
.ant-spin-dot-item {
  background-color: rgb(255, 255, 255) !important;
}