@import "~antd/dist/antd.css";

.bg-image {
  height: 100vh;
  width: 100vw;
  background: url("./assets/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* filter: blur(0px);
  -webkit-filter: blur(2.5px); */
}
.App {
  position: absolute;
  top: 0;

  height: 100vh;
  width: 100vw;
  left: 0;
  color: aliceblue;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.selector {
  height: 35px;
  width: 175px;

  background-color: rgb(42, 42, 42);
  border-color: grey;
}
.selector:hover,
.selector:focus {
  background-color: rgb(85, 85, 85);
  border-color: rgb(104, 102, 102);
}
